<div id="sidebar">
    <mat-nav-list>
        <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/dashboard']">
            <mat-icon class="sidenav-icon">dashboard</mat-icon> {{ 'Dashboard' | translate }}
        </a>
        <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/event-list']">
            <mat-icon class="sidenav-icon">outlet</mat-icon> {{ 'Event List'}}
        </a>
        <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/notification']">
            <mat-icon class="sidenav-icon">outlet</mat-icon> {{ 'Notification'}}
        </a>
        <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/manage-template']">
            <mat-icon class="sidenav-icon">outlet</mat-icon> {{ 'Manage Template'}}
        </a>
        <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/manage-temple']">
            <mat-icon class="sidenav-icon">outlet</mat-icon> {{ 'Manage Temple'}}
        </a>
        <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/aarti']">
            <mat-icon class="sidenav-icon">outlet</mat-icon> {{ 'Temple Aarti'}}
        </a>
        <!-- <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/email-template']">
            <mat-icon class="sidenav-icon">outlet</mat-icon> {{ 'Email Template'}}
        </a> -->
        <!-- <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/screen1']">
            <mat-icon class="sidenav-icon">build</mat-icon> {{ 'Screen1' | translate }}
        </a>
        <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/screen2']">
            <mat-icon class="sidenav-icon">people</mat-icon> {{ 'Screen2' | translate }}
        </a> -->
    </mat-nav-list>
</div>
